body {
    background-image: url('https://images.alphacoders.com/107/107763.jpg');
    background-size: cover;
}

@font-face {
    font-family: 'STAR JEDI FONT';
    src: url('star_jedi/starjedi/Starjedi.ttf');
}

h1, h3, p {
    color: #ffff00;
}

h1 {
    font-family: 'STAR JEDI FONT';
    text-decoration: underline;
}

h3, p {
    font-family: 'Trispace', sans-serif;
    font-size: 1.5rem;
}

button {
    background-color: #888;
    color: #ffff00;
    border: 3px solid #ffff00;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

button:active {
    background-color: #333;
}

#Header {
    text-align: center;
}

#Results {
    padding-left: 1%;
    margin-top: 3%;

    border: 3px solid #ffff00;
    border-radius: 2px;
}

