body {
    background-image: url('https://images.alphacoders.com/107/107763.jpg');
    color: #ffff00;
    background-size: cover;
}

@font-face {
    font-family: 'STAR JEDI FONT';
    src: url('star_jedi/starjedi/Starjedi.ttf');
}

h1 {
    font-family: 'STAR JEDI FONT';
}

h3, p {
    font-family: 'Trispace', sans-serif;
}

button {
    background-color: #888;
    color: #ffff00;
    border: 3px solid #ffff00;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

button:active {
    background-color: #333;
}

#Header {
    text-align: center;
}

#Results {
    margin: 3% 35% auto 20%;

    padding-left: 1%;

    border: 3px solid #ffff00;
    border-radius: 2px;
}

